// color
$primary: #cfa592; //#56C4C5; 藍綠 yoga
$secondary: #986f68;//#fdefee; //#FF5D50; 粉 yoga
$third-light:#F5CA52; //淺黃
$third:#faf6f5;//#F6CB52; //黃 yoga

$white:#FFFFFF;

$gray-100:#00000014; //陰影
$gray-200:#DDDDDD;  //細線
$gray-300:#F5F5F5; //CARD BG
$gray-400:#747474; //小字
$gray-500:#716964;//#221E1F; //大字yoga

// font-size
// 本來想以8或16當基準 人生太難了...
$fs-1: 12px;
$fs-2: 14px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px; //h2副標
$fs-6: 24px; //itemtitle 
$fs-7: 28px;
$fs-8: 32px; //h2     
$fs-9: 48px; //大標

//spacer
$spacer-1: 8px; //8px
$spacer-1-5: $spacer-1 * 1.5; //12px
$spacer-2: $spacer-1 * 2; //16px
$spacer-3: $spacer-1 * 3; //24px
$spacer-4: $spacer-1 * 4; //32px
$spacer-6: $spacer-1 * 6; //48px



